@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background-color: #D6EAF8;
  
}
h1 {
  color:black;
  font-size: 150%;
}
h2 {color:black;
font-size: 100%}
ul {
  text-align: center;
  list-style-type:none;
}

  

.btn {
  display: inline-block;
  border:none;
  padding: 10px 20px;
  margin: 5px;
  border-radius:5px;
  cursor:pointer;
  text-decoration: none;
  font-size:10px;
}
.home {
  display: flex;
height:auto;
width:auto;

  
}
.homeText{
  
padding-left:5%;
padding-right:5%;
padding-top: 5%;

}
.pup {
border-radius: 50%;

}
.dog {
  border-radius:50%
}

.dog2{
  border-radius:50%
}

.aboutContainer {
  display:flex;
  flex-direction: row;
  justify-content: baseline;
  flex-basis: content;
  
  gap: 15%;
  padding-top: 5%;
  padding-right: 10%;
 
}
.aboutText {
  
display: flex;
padding-left:5%;
padding-right:5%;
padding-top: 1%;


}
.first-word { font-size: 1.5em;
}
.aboutContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.aboutText2 {
  display: flex;
  flex-direction: column;
  padding-left:5%;
  padding-right:5%;
  padding-top: 5%;
  
  
  }
  

  
  @media screen and  (max-width: 600px) {
   .pup{ display: none;

    }

  }
  
  @media screen and  (max-width: 600px) {
    .dog{ display: none;
 
     }
 
   }
   
  @media screen and  (max-width: 600px) {
    .dog2{ display: none;
 
     }
 
   }
    
  

  

